<!doctype html>
<html lang="en">

<%- include('../partials/head') %>


<body>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="bootstrap" viewBox="0 0 118 94">
            <title>Bootstrap</title>
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z">
            </path>
        </symbol>
        <symbol id="home" viewBox="0 0 16 16">
            <path
                d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
        </symbol>
        <symbol id="speedometer2" viewBox="0 0 16 16">
            <path
                d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
            <path fill-rule="evenodd"
                d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
        </symbol>
        <symbol id="table" viewBox="0 0 16 16">
            <path
                d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
        </symbol>
        <symbol id="people-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </symbol>
        <symbol id="grid" viewBox="0 0 16 16">
            <path
                d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
        </symbol>
    </svg>
    <!-- header (i'll change it to nav if any problem surfaces) -->
    <div class="bg-dark">
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
                <a href="/"
                    class="d-flex align-items-center col-md-3 col-sm-12 mb-2 mb-md-0 text-white text-decoration-none fs-4 justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="32" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg><span class="text-white ps-1">Wordy</span>
                </a>

                <ul class="nav nav-pills col-12 col-md-auto col-sm-6 mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                    <li><a class="nav-link px-2 bg-white text-secondary active">Posts</a></li>
                    <% if(login) { %>
                    <li><a href="/posts/new_post" class="nav-link px-2 text-white">New Post</a></li>
                    <% } %>
                    <li><a href="/about" class="nav-link px-2 text-white">About Us</a></li>
                </ul>

                <% if(login) { %>
                <!-- PROFILE PHOTO DROPDOWN -->
                <div class="col-md-3 dropdown text-end">
                    <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="<%= currentUser.avatar %>" alt="" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end text-small text-center"
                        aria-labelledby=" dropdownUser1">
                        <li><a class="dropdown-item text-center" href="/">Home</a></li>
                        <li><a class="dropdown-item" href="/posts/new_post">New Post</a></li>
                        <li><a class="dropdown-item" href="/about">About Us</a></li>
                        <li><a class="dropdown-item" href="/dashboard/<%= currentUser.username %>">dashboard</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a>
                                <form class="d-grid gap-2 col-6 mx-auto" action="/logOut" method="POST">
                                    <button class="btn btn-danger">log out</button>
                                </form>
                            </a>
                        </li>
                    </ul>
                </div>
                <% } else {%>
                <div class="col-md-3 col-sm-6 text-end">
                    <a href="/SignIn" class="btn btn-outline-light me-2">Sign In</a>
                    <a href="/SignUp" class="btn btn-info">Sign Up</a>
                </div>
                <% }  %>
            </header>
        </div>
    </div>

    <!-- Publishing A Post -->
    <main>

        <!-- Posts -->
        <div class="bg-black text-white px-4 py-5 text-start" style="min-height: 744px;">
            <div class="py-5">
                <h2 class=" fw-bold text-white col-lg-9 mx-auto"><%= post.title %></h2>
                <div class="text-secondary mb-5 col-lg-9 mx-auto">
                    <span>by: </span>
                    <a href="/dashboard/<%= post.author.username %>" class="text-decoration-none text-secondary">
                        <%= post.author.username %>
                    </a>
                </div>
                <div class="col-lg-9 px-5 py-3 mx-auto bg-dark bg-opacity-25 rounded-3 border border-secondary">
                    <div>
                        <p class="fs-5 mb-4"><%- post.content %></p>
                    </div>
                    <div class="d-grid gap-2 d-sm-flex justify-content-left p-3">
                        <% if(post.like.includes(currentUser._id)){ %>
                        <a type="button" class="likeicon clickedlikeicon" id="botin" data-postid="<%= post._id %>">
                            <!-- like icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" class="bi bi-heart-fill"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                            </svg>
                            <!-- like count -->
                            <span class="text-white">
                                <spam class="likeCount"><%= post.like.length %></spam>
                            </span>
                        </a>
                        <% } else { %>
                        <a type="button" class="likeicon" id="botin" data-postid="<%= post._id %>">
                            <!-- like icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" class="bi bi-heart-fill"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                            </svg>
                        </a>
                        <!-- like count -->
                        <span class="text-white"><small class="likeCount"><%= post.like.length %></small></span>
                        <% } %>
                    </div>
                    <% if(login){%>
                    <% if(currentUser._id.toString() == post.author._id.toString()) { %>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-between">
                        <a class="btn btn-outline-danger px-4 fw-bold" type=" button" id="delete">Delete</a>
                        <a href="/posts/update_post/<%= post._id %>" class="btn btn-warning px-4 fw-bold"
                            type="button">Update</a>
                    </div>
                    <% } %>
                    <% } %>
                </div>
                <!-- comment form -->
                <% if(login){ %>
                <div class="card col-lg-8 mx-auto bg-dark bg-opacity-25 my-5">
                    <h6 class="col-lg-12 col-md-12 col-sm-12 mx-auto card-header text-white">Leave a Comment: </h6>
                    <div class="col-lg-12 col-md-12 col-sm-12 card-body bg-dark bg-opacity-25">
                        <form class="d-grid gap-2" action="/posts/comment/<%= post._id %>" method="POST">
                            <input type="hidden" name="post_id" value="<%= post._id %>" />
                            <div class="form-group">
                                <textarea class="form-control bg-dark text-white border-0" id="comment" name="comment"
                                    rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-secondary d-grid gap-2 col-3 ms-auto">Submit</button>
                        </form>
                    </div>
                </div>
                <% } %>
                <!-- displaying comment-->
                <div class="col-lg-8 mx-auto pt-1">
                    <% if(post.comments.length > 0){ %>
                    <h6 class="col-lg-12 mx-auto card-header text-white">Comments: </h6>

                    <% } else if(!login){ %>
                    <h6 class="col-lg-12 mx-auto card-header text-white">Create an account or login to ike and
                        comment.<a href="/SignUp" class="fw-bold link-info"><u>Sign Up</u></a></h6>
                    <% } %>

                    <% for(let comment of post.comments) { %>
                    <div
                        class="card col-lg-12 mx-auto bg-dark bg-opacity-25 border-1 my-5 rounded-3 border border-secondary">
                        <div class="card-body col-lg-12 p-4">
                            <p class="card-text col-lg-12 mx-auto text-white">@<%= comment.
                                    author %></p>
                            <p class="card-text col-lg-12 mx-auto text-white px-4"><%= comment.comment %></p>
                        </div>
                        <div class="position-absolute bottom-0 end-0 mb-1 me-2">
                            <small class=" text-muted">
                                <%= post.createdAt.toDateString() %>
                            </small>
                        </div>
                    </div>
                    <% } %>
                </div>
    </main>

    <!-- footer -->
    <%- include('../partials/footer') %>
    <script>
        const likebtn = document.querySelector('#botin')
        const deleted = document.querySelector('#delete')
        const Id = likebtn.dataset.postid
        if (deleted) {
            deleted.onclick = async function () {

                const requ = await fetch(`/posts/delete_post/${Id}`, {
                    method: 'DELETE',
                });

                const resp = await requ.json();

                if (resp.status === true) {
                    window.location.href = resp.redirect;
                } else if (resp.status === false) {
                    alert('Could not delete the post')
                }
            };
        }
        likebtn.onclick = async function () {
            if (likebtn.classList.contains('clickedlikeicon')) {

                const requ = await fetch(`/posts/unlike/${Id}`, {
                    method: 'post'
                });

                const resp = await requ.json();

                if (resp.status === true) {
                    likebtn.classList.toggle("clickedlikeicon");
                    document.querySelector('.likeCount').textContent = resp.count;
                } else if (resp.status === false) {
                    alert('Could not unlike the post')
                }

            } else {
                const requ = await fetch(`/posts/like/${Id}`, {
                    method: 'post'
                });

                const resp = await requ.json();

                if (resp.status === true) {
                    likebtn.classList.toggle("clickedlikeicon");
                    document.querySelector('.likeCount').textContent = resp.count;
                } else if (resp.status === false) {
                    alert('Could not like the post')
                }

            }
        }
    </script>

</body>

</html>